body {
  background-color: #c3221c;
  font-family: 'Poppins', sans-serif; }

header {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  background-color: #c3221c;
  color: white; }
  header a {
    font-size: larger; }
  header .navbar-brand {
    font-size: larger; }
  header .bg-light {
    --bs-bg-opacity: 0;
    background-color: #c3221c !important; }
  header .navbar-light .navbar-brand {
    color: white; }
    header .navbar-light .navbar-brand:hover {
      color: black; }
  header .navbar-light .navbar-nav .nav-link {
    color: white; }
    header .navbar-light .navbar-nav .nav-link:hover {
      color: black; }
  header .dropdown-menu {
    background-color: #c3221c;
    color: white; }
    header .dropdown-menu:hover {
      color: black; }
  header .dropdown-item {
    color: white; }
    header .dropdown-item:hover {
      color: black;
      background-color: #c3221c; }
      header .dropdown-item:hover.active {
        color: #facf30; }
        header .dropdown-item:hover.active:hover {
          color: black; }
  header .dropdown-item.active, header .dropdown-item:active {
    color: #facf30;
    text-decoration: none;
    background-color: #c3221c; }
  header .navbar-light .navbar-nav .nav-link.active, header .navbar-light .navbar-nav .show > .nav-link {
    color: white; }
    header .navbar-light .navbar-nav .nav-link.active:hover, header .navbar-light .navbar-nav .show > .nav-link:hover {
      color: black; }
    header .navbar-light .navbar-nav .nav-link.active.active, header .navbar-light .navbar-nav .show > .nav-link.active {
      color: #facf30; }
      header .navbar-light .navbar-nav .nav-link.active.active:hover, header .navbar-light .navbar-nav .show > .nav-link.active:hover {
        color: black; }
  header .navbar-light .navbar-nav .nav-link:focus, header .navbar-light .navbar-nav .nav-link:hover {
    color: white; }
  header .navbar-brand:focus {
    color: white; }
  header nav .nav-imagen {
    width: 8%;
    margin-left: 1%; }
  header .navbar-light .navbar-nav .nav-link:hover {
    color: black; }

.presentacion {
  display: grid;
  grid-template-areas: "imagen-top imagen-top imagen-top" "titulos titulos alan";
  background-image: url("../fotos/fondo.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  .presentacion .titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 18%;
    grid-area: titulos; }
    .presentacion .titulos .guerra {
      color: #ff4949; }
  .presentacion .imagen {
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: alan; }
  .presentacion .imagen-top {
    background-repeat: no-repeat;
    background-size: cover;
    height: 23px;
    grid-area: imagen-top; }

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white; }
  .video .video-titulos {
    grid-area: titulos;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .video .video-titulos .futuro {
      color: #ff4949; }
    .video .video-titulos h5 {
      color: white; }
  .video .video-trailer {
    height: 250px;
    grid-area: trailer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15%; }
    .video .video-trailer iframe {
      max-width: 100%;
      max-height: 100%; }

.carrusel-padre {
  margin-top: 5%;
  display: flex;
  justify-content: center; }
  .carrusel-padre .carrusel {
    height: 50%;
    width: 50%; }

.conoceme {
  color: white;
  margin-top: 3%; }
  .conoceme h1 {
    color: white; }
  .conoceme .conoceme-texto {
    margin-left: 10%;
    margin-right: 10%; }
  .conoceme .boton {
    display: flex;
    justify-content: center; }
    .conoceme .boton a {
      text-decoration: none; }
  .conoceme button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit; }
  .conoceme button.learn-more {
    width: 12rem;
    height: auto; }
  .conoceme button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: black;
    border-radius: 1.625rem; }
  .conoceme button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff; }
  .conoceme button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none; }
  .conoceme button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg); }
  .conoceme button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase; }
  .conoceme button:hover .circle {
    width: 100%; }
  .conoceme button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0); }
  .conoceme button:hover .button-text {
    color: #fff; }

.nuestros-productos {
  margin-top: 3%;
  margin-bottom: 3%;
  color: white; }
  .nuestros-productos .fotos-productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%; }
    .nuestros-productos .fotos-productos .productos {
      width: 290px;
      height: auto;
      background: #2e2c2c;
      transition: all 300ms;
      margin-left: 2%;
      margin-right: 2%; }
    .nuestros-productos .fotos-productos .productos:hover {
      transform: scale(1.1); }

.opiniones {
  margin-top: 5%;
  display: grid;
  grid-template-areas: "titulo titulo titulo" "joan peter hugh";
  color: white; }
  .opiniones .opiniones-titulos {
    grid-area: titulo; }
  .opiniones h5 {
    color: #ff4949; }
  .opiniones .opiniones-joan {
    margin-top: 5%;
    margin: 3%;
    grid-area: joan;
    background-color: #d67747;
    display: grid;
    grid-template-areas: "foto nombre nombre nombre nombre nombre estrellas estrellas estrellas estrellas " "texto texto texto texto texto texto texto texto texto texto"; }
    .opiniones .opiniones-joan .opiniones-joan-foto {
      grid-area: foto;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-joan .opiniones-joan-nombre-pais {
      grid-area: nombre;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-joan .opiniones-joan-estrellas {
      grid-area: estrellas;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-joan .opiniones-joan-texto {
      grid-area: texto;
      margin: 5%; }
  .opiniones .opiniones-peter {
    margin-top: 5%;
    margin: 3%;
    grid-area: peter;
    background-color: #d67747;
    display: grid;
    grid-template-areas: "foto nombre nombre nombre nombre nombre estrellas estrellas estrellas estrellas " "texto texto texto texto texto texto texto texto texto texto"; }
    .opiniones .opiniones-peter .opiniones-peter-foto {
      grid-area: foto;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-peter .opiniones-peter-nombre-pais {
      grid-area: nombre;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-peter .opiniones-peter-estrellas {
      grid-area: estrellas;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-peter .opiniones-peter-texto {
      grid-area: texto;
      margin: 5%; }
  .opiniones .opiniones-hugh {
    margin-top: 5%;
    margin: 3%;
    grid-area: hugh;
    background-color: #d67747;
    display: grid;
    grid-template-areas: "foto nombre nombre nombre nombre nombre estrellas estrellas estrellas estrellas " "texto texto texto texto texto texto texto texto texto texto"; }
    .opiniones .opiniones-hugh .opiniones-hugh-foto {
      grid-area: foto;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-hugh .opiniones-hugh-nombre-pais {
      grid-area: nombre;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-hugh .opiniones-hugh-estrellas {
      grid-area: estrellas;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-hugh .opiniones-hugh-texto {
      grid-area: texto;
      margin: 5%; }

.formulario {
  height: 633px;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../fotos/fondo-formulario.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "imagen formulario";
  color: #f19f7a; }
  .formulario .formulario-imagen {
    margin: 5%;
    grid-area: imagen; }
  .formulario .formulario-excel {
    margin: 5%;
    grid-area: formulario; }
    .formulario .formulario-excel .mb-3 {
      margin: 5%;
      display: flex;
      justify-content: center; }
      .formulario .formulario-excel .mb-3 .form-control {
        width: 50%; }
    .formulario .formulario-excel .boton {
      display: flex;
      justify-content: center; }
      .formulario .formulario-excel .boton button {
        background-color: #ff4949;
        border: none;
        color: white; }

.pie {
  padding: 2px;
  background-color: #c3221c;
  color: white; }
  .pie .pie-imagenes {
    margin: 1%; }
  .pie p {
    margin: 1%; }

.texto-general {
  margin: 1%;
  color: white;
  background-color: #d67747; }
  .texto-general p {
    margin: 2%; }

.biografia-card {
  display: grid;
  grid-template-areas: "texto imagen"; }
  .biografia-card .biografia-card-texto {
    grid-area: texto; }
  .biografia-card .card {
    margin: 2%;
    grid-area: imagen;
    background-color: #d67747;
    border: 1px solid white; }
    .biografia-card .card img {
      max-width: 150px;
      max-height: 160px; }
    .biografia-card .card .card-body {
      max-width: 150px; }

.logros-card {
  display: grid;
  grid-template-areas: "imagen texto"; }
  .logros-card .logros-card-texto {
    grid-area: texto; }
  .logros-card .card {
    margin: 2%;
    grid-area: imagen;
    background-color: #d67747;
    border: 1px solid white; }
    .logros-card .card img {
      max-width: 300px;
      max-height: 310px; }
    .logros-card .card .card-body {
      max-width: 300px; }

.reconocimiento-card-casa {
  display: grid;
  grid-template-areas: "texto imagen"; }
  .reconocimiento-card-casa .reconocimiento-card-casa-texto {
    grid-area: texto; }
  .reconocimiento-card-casa .card {
    margin: 2%;
    grid-area: imagen;
    background-color: #d67747;
    border: 1px solid white; }
    .reconocimiento-card-casa .card img {
      max-width: 200px;
      max-height: 210px; }
    .reconocimiento-card-casa .card .card-body {
      max-width: 200px; }

.reconocimiento-card-universidad {
  display: grid;
  grid-template-areas: "imagen texto"; }
  .reconocimiento-card-universidad .reconocimiento-card-universidad-texto {
    grid-area: texto; }
  .reconocimiento-card-universidad .card {
    margin: 2%;
    grid-area: imagen;
    background-color: #d67747;
    border: 1px solid white; }
    .reconocimiento-card-universidad .card img {
      max-width: 150px;
      max-height: 200px; }
    .reconocimiento-card-universidad .card .card-body {
      max-width: 150px; }

.reconocimiento-carrusel {
  max-height: 633px;
  margin-top: 2%;
  background-image: url("../fotos/reconocimiento-fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  .reconocimiento-carrusel h2 {
    margin: 2%; }
  .reconocimiento-carrusel .carousel-item {
    height: 500px;
    max-width: 900px;
    margin-top: 3%; }
    .reconocimiento-carrusel .carousel-item img {
      max-width: 900px;
      max-height: 400px; }
  .reconocimiento-carrusel .carousel-inner {
    display: flex;
    justify-content: center; }
  .reconocimiento-carrusel .carousel-control-prev {
    display: flex;
    justify-content: flex-end; }
  .reconocimiento-carrusel .carousel-control-next {
    display: flex;
    justify-content: flex-start; }
  .reconocimiento-carrusel .carousel-caption {
    color: white; }
  .reconocimiento-carrusel .carousel-indicators [data-bs-target] {
    background-color: white; }

@media screen and (max-width: 987px) {
  .video .video-titulos {
    margin-left: 5%; }
  .video .video-trailer {
    margin-right: 5%; }
  .presentacion .imagen {
    max-width: 60%; } }

@media screen and (max-width: 768px) {
  .video .video-titulos {
    margin-left: 2%; }
  .video .video-trailer {
    margin-right: 2%; }
  h1 {
    font-size: x-large; }
  h2 {
    font-size: larger; }
  h3 {
    font-size: large; }
  h4 {
    font-size: medium; }
  h5 {
    font-size: small; }
  h6 {
    font-size: small; }
  p {
    font-size: small; }
  .reconocimiento-carrusel .carousel-item {
    height: 410px; }
  .reconocimiento-carrusel .carousel-control-next, .reconocimiento-carrusel .carousel-control-prev {
    display: flex;
    align-items: flex-start;
    margin-top: 30%; }
  .reconocimiento-carrusel .d-none {
    display: block !important; } }

@media screen and (max-width: 570px) {
  header nav .nav-imagen img {
    width: 40px;
    height: 44px; }
  h1 {
    font-size: larger; }
  h2 {
    font-size: large; }
  h3 {
    font-size: medium; }
  h4 {
    font-size: small; }
  .video {
    display: flex;
    flex-direction: column; }
  .opiniones {
    display: flex;
    flex-direction: column; }
  .logros-card {
    display: flex;
    flex-direction: column; }
    .logros-card .card {
      max-width: 300px; }
  .reconocimiento-carrusel .carousel-item {
    height: 350px; } }

@media screen and (max-width: 400px) {
  .biografia-card {
    display: flex;
    flex-direction: column; }
    .biografia-card .card {
      max-width: 150px; }
  .reconocimiento-card-casa {
    display: flex;
    flex-direction: column; }
    .reconocimiento-card-casa .card {
      max-width: 200px; }
  .reconocimiento-card-universidad {
    display: flex;
    flex-direction: column; }
    .reconocimiento-card-universidad .card {
      max-width: 150px; }
  .reconocimiento-carrusel .carousel-item {
    height: 300px; } }

@media screen and (max-width: 300px) {
  header a {
    font-size: medium; }
  header .navbar-brand {
    font-size: medium; }
  header nav .nav-imagen img {
    width: 30px;
    height: 34px; }
  .reconocimiento-carrusel .carousel-control-next, .reconocimiento-carrusel .carousel-control-prev {
    margin-top: 45%; } }
