body {
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  color: #c3221c; }

header {
  display: grid;
  grid-template-rows: auto auto;
  background-color: white;
  color: #c3221c; }
  header .navbar {
    padding: 0;
    border: 1px solid #c3221c; }
    header .navbar .container {
      margin-left: 0;
      padding: 0;
      background-color: white; }
    header .navbar .container-fluid {
      padding-top: 35px; }
  header li {
    margin-left: 25px; }
  header a {
    font-size: x-large;
    display: flex;
    justify-content: flex-end; }
  header .menu {
    padding: 0; }
  header .navbar-toggler {
    margin-bottom: 5px; }
  header .navbar-brand {
    font-size: larger;
    margin-right: 0; }
  header .bg-light {
    --bs-bg-opacity: 0;
    background-color: white !important; }
  header .navbar-light .navbar-brand {
    color: #c3221c; }
    header .navbar-light .navbar-brand:hover {
      color: #facf30; }
  header .navbar-light .navbar-nav .nav-link {
    color: #c3221c; }
    header .navbar-light .navbar-nav .nav-link:hover {
      color: #facf30; }
  header .dropdown-menu {
    background-color: white;
    color: #c3221c; }
    header .dropdown-menu:hover {
      color: #facf30; }
  header .dropdown-item {
    color: #c3221c; }
    header .dropdown-item:hover {
      color: #facf30;
      background-color: white; }
      header .dropdown-item:hover.active {
        color: black; }
        header .dropdown-item:hover.active:hover {
          color: #facf30; }
  header .dropdown-item.active,
  header .dropdown-item:active {
    color: #facf30;
    text-decoration: none;
    background-color: white; }
  header .navbar-light .navbar-nav .nav-link.active,
  header .navbar-light .navbar-nav .show > .nav-link {
    color: #c3221c; }
    header .navbar-light .navbar-nav .nav-link.active:hover,
    header .navbar-light .navbar-nav .show > .nav-link:hover {
      color: #facf30; }
    header .navbar-light .navbar-nav .nav-link.active.active,
    header .navbar-light .navbar-nav .show > .nav-link.active {
      color: black; }
      header .navbar-light .navbar-nav .nav-link.active.active:hover,
      header .navbar-light .navbar-nav .show > .nav-link.active:hover {
        color: #facf30; }
  header .navbar-light .navbar-nav .nav-link:focus,
  header .navbar-light .navbar-nav .nav-link:hover {
    color: #c3221c; }
  header .navbar-brand:focus {
    color: #c3221c; }
  header nav .nav-imagen {
    max-width: 125px;
    margin-left: 1%; }
  header .navbar-light .navbar-nav .nav-link:hover {
    color: #facf30; }

.productos-presentacion {
  background-image: url("../fotos/productos-fondo.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.presentacion {
  display: grid;
  grid-template-areas: "imagen-top imagen-top imagen-top" "titulos titulos alan";
  background-image: url("../fotos/fondo.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #c3221c; }
  .presentacion .titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 18%;
    grid-area: titulos; }
    .presentacion .titulos .guerra {
      color: #ff4949; }
  .presentacion .imagen {
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: alan; }
  .presentacion .imagen-top {
    background-repeat: no-repeat;
    background-size: cover;
    height: 23px;
    grid-area: imagen-top; }

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #c3221c; }
  .video .video-titulos {
    grid-area: titulos;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .video .video-titulos .futuro {
      color: #ff4949; }
    .video .video-titulos h5 {
      color: #c3221c; }
  .video .video-trailer {
    height: 250px;
    grid-area: trailer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15%; }
    .video .video-trailer iframe {
      max-width: 100%;
      max-height: 100%; }

.carrusel-padre {
  margin-top: 5%;
  display: flex;
  justify-content: center; }
  .carrusel-padre .carrusel {
    max-width: 700px;
    max-height: 400px; }
    .carrusel-padre .carrusel .carousel-control-next-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }
    .carrusel-padre .carrusel .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e"); }

.conoceme {
  color: #c3221c;
  margin-top: 3%; }
  .conoceme h1 {
    color: #c3221c; }
  .conoceme .conoceme-texto {
    margin-left: 10%;
    margin-right: 10%; }
  .conoceme .boton {
    display: flex;
    justify-content: center; }
    .conoceme .boton a {
      text-decoration: none; }
  .conoceme button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit; }
  .conoceme button.learn-more {
    width: 12rem;
    height: auto; }
  .conoceme button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: black;
    border-radius: 1.625rem; }
  .conoceme button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff; }
  .conoceme button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none; }
  .conoceme button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg); }
  .conoceme button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase; }
  .conoceme button:hover .circle {
    width: 100%; }
  .conoceme button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0); }
  .conoceme button:hover .button-text {
    color: #fff; }

.nuestros-productos {
  margin-top: 3%;
  margin-bottom: 3%;
  color: #c3221c; }
  .nuestros-productos .fotos-productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%; }
    .nuestros-productos .fotos-productos .productos {
      width: 290px;
      height: auto;
      background: #2e2c2c;
      transition: all 300ms;
      margin-left: 2%;
      margin-right: 2%; }
    .nuestros-productos .fotos-productos .productos:hover {
      transform: scale(1.1); }

.opiniones {
  margin-top: 5%;
  display: grid;
  grid-template-areas: "titulo titulo titulo" "joan peter hugh";
  color: #c3221c; }
  .opiniones .opiniones-titulos {
    grid-area: titulo; }
  .opiniones h5 {
    color: #ff4949; }
  .opiniones .opiniones-joan {
    margin-top: 5%;
    margin: 3%;
    grid-area: joan;
    background-color: #d67747;
    display: grid;
    grid-template-areas: "foto nombre nombre nombre nombre nombre estrellas estrellas estrellas estrellas " "texto texto texto texto texto texto texto texto texto texto"; }
    .opiniones .opiniones-joan .opiniones-joan-foto {
      grid-area: foto;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-joan .opiniones-joan-nombre-pais {
      grid-area: nombre;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-joan .opiniones-joan-estrellas {
      grid-area: estrellas;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-joan .opiniones-joan-texto {
      grid-area: texto;
      margin: 5%; }
  .opiniones .opiniones-peter {
    margin-top: 5%;
    margin: 3%;
    grid-area: peter;
    background-color: #d67747;
    display: grid;
    grid-template-areas: "foto nombre nombre nombre nombre nombre estrellas estrellas estrellas estrellas " "texto texto texto texto texto texto texto texto texto texto"; }
    .opiniones .opiniones-peter .opiniones-peter-foto {
      grid-area: foto;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-peter .opiniones-peter-nombre-pais {
      grid-area: nombre;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-peter .opiniones-peter-estrellas {
      grid-area: estrellas;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-peter .opiniones-peter-texto {
      grid-area: texto;
      margin: 5%; }
  .opiniones .opiniones-hugh {
    margin-top: 5%;
    margin: 3%;
    grid-area: hugh;
    background-color: #d67747;
    display: grid;
    grid-template-areas: "foto nombre nombre nombre nombre nombre estrellas estrellas estrellas estrellas " "texto texto texto texto texto texto texto texto texto texto"; }
    .opiniones .opiniones-hugh .opiniones-hugh-foto {
      grid-area: foto;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-hugh .opiniones-hugh-nombre-pais {
      grid-area: nombre;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-hugh .opiniones-hugh-estrellas {
      grid-area: estrellas;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .opiniones .opiniones-hugh .opiniones-hugh-texto {
      grid-area: texto;
      margin: 5%; }

.formulario {
  height: 780px;
  display: flex;
  padding-right: 0;
  background-image: url("../fotos/fondo-formulario.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "formulario redes";
  color: #facf30; }
  .formulario .formulario-redes {
    grid-area: redes;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .formulario .formulario-redes h2 {
      margin: 2%;
      color: white; }
    .formulario .formulario-redes .btn-primary {
      border: none; }
    .formulario .formulario-redes .btn {
      font-size: 150%;
      width: 50px;
      margin: 2%; }
    .formulario .formulario-redes .redes a {
      text-decoration: none;
      color: white;
      font-size: 150%; }
    .formulario .formulario-redes .location:hover {
      background-color: #0d6efd; }
    .formulario .formulario-redes .wp {
      display: flex;
      flex-direction: row; }
      .formulario .formulario-redes .wp p {
        text-decoration: none;
        color: white;
        font-size: 150%;
        display: flex;
        align-items: center;
        margin-bottom: 0; }
  .formulario .formulario-excel {
    margin: 2%;
    margin-left: 4%;
    grid-area: formulario; }
    .formulario .formulario-excel .mb-3 .form-control {
      width: 90%; }
    .formulario .formulario-excel .boton {
      /* From uiverse.io by @adamgiebl */ }
      .formulario .formulario-excel .boton button {
        font-family: inherit;
        font-size: 18px;
        background: #c3221c;
        color: white;
        padding: 0.7em 1em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s; }
      .formulario .formulario-excel .boton button span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out; }
      .formulario .formulario-excel .boton button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out; }
      .formulario .formulario-excel .boton button:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate; }
      .formulario .formulario-excel .boton button:hover svg {
        transform: translateX(2.2em) rotate(45deg) scale(1.1); }
      .formulario .formulario-excel .boton button:hover span {
        transform: translateX(6em); }
      .formulario .formulario-excel .boton button:active {
        transform: scale(0.95); }

@keyframes fly-1 {
  from {
    transform: translateY(0.1em); }
  to {
    transform: translateY(-0.1em); } }

.section-gracias {
  margin-top: 10%; }
  .section-gracias .gracias {
    display: flex;
    align-items: center;
    justify-content: center; }
    .section-gracias .gracias a {
      color: #facf30;
      font-size: xx-large; }

.pie {
  padding: 2px;
  background-color: white;
  color: #c3221c; }
  .pie .pie-imagenes {
    margin: 1%; }
  .pie p {
    margin: 1%; }

.nuestra-empresa {
  margin-top: 3%;
  color: #c3221c; }
  .nuestra-empresa p {
    margin: 2%; }
  .nuestra-empresa .biografia-card {
    display: grid;
    grid-template-areas: "texto imagen";
    margin: 2%; }
    .nuestra-empresa .biografia-card .biografia-card-texto {
      margin-right: 2%;
      grid-area: texto; }
    .nuestra-empresa .biografia-card .img-fabrica {
      grid-area: imagen; }
      .nuestra-empresa .biografia-card .img-fabrica .img-nuestra-historia {
        max-width: 350px;
        max-height: 360px;
        border: 1px solid #c3221c; }
  .nuestra-empresa .nuestra-fabrica {
    margin: 2%; }
    .nuestra-empresa .nuestra-fabrica .nuestra-fabrica-imagen-mapa {
      display: flex;
      justify-content: center; }
      .nuestra-empresa .nuestra-fabrica .nuestra-fabrica-imagen-mapa img {
        vertical-align: top; }
      .nuestra-empresa .nuestra-fabrica .nuestra-fabrica-imagen-mapa .img-nuestra-fabrica {
        margin: 1%;
        max-width: 600px;
        max-height: 450px;
        border: 1px solid #c3221c; }
      .nuestra-empresa .nuestra-fabrica .nuestra-fabrica-imagen-mapa iframe {
        margin: 1%; }

.titulos-productos {
  margin: 3%; }

.productos-imagenes {
  margin: 3%;
  display: grid;
  grid-template-areas: "auto auto auto auto"; }
  .productos-imagenes .card {
    max-width: 290px;
    max-height: 374px;
    background: #facf30;
    padding: .4em;
    border-radius: 6px;
    margin: 2%; }
  .productos-imagenes .card-image {
    background-color: #ececec;
    width: 100%;
    height: 83%;
    border-radius: 6px 6px 0 0; }
    .productos-imagenes .card-image img {
      width: 100%;
      height: 100%; }
  .productos-imagenes .card-image:hover {
    transform: scale(0.95); }
  .productos-imagenes .category {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 600;
    color: #c3221c;
    padding: 10px 7px 0; }
  .productos-imagenes .category:hover {
    cursor: pointer; }
  .productos-imagenes .heading {
    font-weight: 600;
    color: #585757;
    padding: 7px; }
  .productos-imagenes .heading:hover {
    cursor: pointer; }
  .productos-imagenes .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px; }
  .productos-imagenes .name {
    font-weight: 600; }
  .productos-imagenes .name:hover {
    cursor: pointer; }

.logros-card {
  display: grid;
  grid-template-areas: "imagen texto"; }
  .logros-card .logros-card-texto {
    grid-area: texto; }
  .logros-card .card {
    margin: 2%;
    grid-area: imagen;
    background-color: #d67747;
    border: 1px solid #c3221c; }
    .logros-card .card img {
      max-width: 300px;
      max-height: 310px; }
    .logros-card .card .card-body {
      max-width: 300px; }

.reconocimiento-card-casa {
  display: grid;
  grid-template-areas: "texto imagen"; }
  .reconocimiento-card-casa .reconocimiento-card-casa-texto {
    grid-area: texto; }
  .reconocimiento-card-casa .card {
    margin: 2%;
    grid-area: imagen;
    background-color: #d67747;
    border: 1px solid #c3221c; }
    .reconocimiento-card-casa .card img {
      max-width: 200px;
      max-height: 210px; }
    .reconocimiento-card-casa .card .card-body {
      max-width: 200px; }

.reconocimiento-card-universidad {
  display: grid;
  grid-template-areas: "imagen texto"; }
  .reconocimiento-card-universidad .reconocimiento-card-universidad-texto {
    grid-area: texto; }
  .reconocimiento-card-universidad .card {
    margin: 2%;
    grid-area: imagen;
    background-color: #d67747;
    border: 1px solid #c3221c; }
    .reconocimiento-card-universidad .card img {
      max-width: 150px;
      max-height: 200px; }
    .reconocimiento-card-universidad .card .card-body {
      max-width: 150px; }

.reconocimiento-carrusel {
  max-height: 633px;
  margin-top: 2%;
  background-image: url("../fotos/reconocimiento-fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #c3221c; }
  .reconocimiento-carrusel h2 {
    margin: 2%; }
  .reconocimiento-carrusel .carousel-item {
    height: 500px;
    max-width: 900px;
    margin-top: 3%; }
    .reconocimiento-carrusel .carousel-item img {
      max-width: 900px;
      max-height: 400px; }
  .reconocimiento-carrusel .carousel-inner {
    display: flex;
    justify-content: center; }
  .reconocimiento-carrusel .carousel-control-prev {
    display: flex;
    justify-content: flex-end; }
  .reconocimiento-carrusel .carousel-control-next {
    display: flex;
    justify-content: flex-start; }
  .reconocimiento-carrusel .carousel-caption {
    color: #c3221c; }
  .reconocimiento-carrusel .carousel-indicators [data-bs-target] {
    background-color: #c3221c; }

@media screen and (max-width: 1350px) {
  header a {
    font-size: x-large; } }

@media screen and (max-width: 1150px) {
  header a {
    font-size: larger; } }

@media screen and (max-width: 991px) {
  header a {
    font-size: large; }
  header .navbar {
    padding: 0;
    border: 1px solid #c3221c; }
    header .navbar .container {
      margin-left: 0;
      padding: 0;
      background-color: white; }
    header .navbar .container-fluid {
      padding-top: 0; }
  .nuestra-fabrica-imagen-mapa {
    display: flex;
    flex-direction: column; }
  .video .video-titulos {
    margin-left: 5%; }
  .video .video-trailer {
    margin-right: 5%; }
  .presentacion .imagen {
    max-width: 60%; } }

@media screen and (max-width: 840px) {
  nav .nav-imagen {
    width: 67px;
    height: 67px;
    min-width: 67px;
    margin-left: 1%;
    margin-bottom: 1%; }
  .productos-imagenes {
    grid-template-areas: "auto auto auto"; } }

@media screen and (max-width: 768px) {
  .video .video-titulos {
    margin-left: 2%; }
  .video .video-trailer {
    margin-right: 2%; }
  h1 {
    font-size: x-large; }
  h2 {
    font-size: larger; }
  h3 {
    font-size: large; }
  h4 {
    font-size: medium; }
  h5 {
    font-size: small; }
  h6 {
    font-size: small; }
  p {
    font-size: small; }
  a {
    font-size: small; }
  .conoceme button.learn-more .circle {
    width: 2.3rem;
    height: 2.3rem; }
    .conoceme button.learn-more .circle .icon.arrow {
      left: 0.3rem; }
  .reconocimiento-carrusel .carousel-item {
    height: 410px; }
  .reconocimiento-carrusel .carousel-control-next,
  .reconocimiento-carrusel .carousel-control-prev {
    display: flex;
    align-items: flex-start;
    margin-top: 30%; }
  .reconocimiento-carrusel .d-none {
    display: block !important; }
  .formulario .formulario-redes .btn {
    font-size: 100%; }
  .formulario .formulario-redes .redes a {
    font-size: 100%; }
  .formulario .formulario-redes .wp p {
    font-size: 100%; } }

@media screen and (max-width: 640px) {
  .productos-imagenes {
    grid-template-areas: "auto auto"; } }

@media screen and (max-width: 570px) {
  h1 {
    font-size: larger; }
  h2 {
    font-size: large; }
  h3 {
    font-size: medium; }
  h4 {
    font-size: small; }
  .video {
    display: flex;
    flex-direction: column; }
  .opiniones {
    display: flex;
    flex-direction: column; }
  .logros-card {
    display: flex;
    flex-direction: column; }
    .logros-card .card {
      max-width: 300px; }
  .reconocimiento-carrusel .carousel-item {
    height: 350px; } }

@media screen and (max-width: 450px) {
  nav .nav-imagen {
    margin-bottom: 2%; }
  .nuestra-empresa .biografia-card {
    display: flex;
    flex-direction: column; }
    .nuestra-empresa .biografia-card .img-fabrica {
      max-width: 150px; }
  .reconocimiento-card-casa {
    display: flex;
    flex-direction: column; }
    .reconocimiento-card-casa .card {
      max-width: 200px; }
  .reconocimiento-card-universidad {
    display: flex;
    flex-direction: column; }
    .reconocimiento-card-universidad .card {
      max-width: 150px; }
  .reconocimiento-carrusel .carousel-item {
    height: 300px; }
  .formulario .formulario-redes .btn-primary {
    height: 31px; }
  .formulario .formulario-redes .btn {
    font-size: 80%; }
  .formulario .formulario-redes .redes a {
    font-size: 80%; }
  .formulario .formulario-redes .wp p {
    font-size: 80%; } }

@media screen and (max-width: 300px) {
  header a {
    font-size: medium; }
  header .navbar-brand {
    font-size: medium; }
  .reconocimiento-carrusel .carousel-control-next,
  .reconocimiento-carrusel .carousel-control-prev {
    margin-top: 45%; } }
